.key_wrapper {
    position: absolute;  
    width: 4.40%;
    height: 14.44%;
    top: 68.4%;
    background-color: transparent;

    transition: 50ms;
}

.key_wrapper:hover {
    transform: scale(.95);
}

.key_bg-image {
    max-width: 100%;
    max-height: 100%;
    border-style: none;
    backface-visibility: hidden;
    transform: perspective(1px) translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}

.key_light-overlay {
    position: absolute;
    width: 75%;
    left: 5px;
    top: -3px;
    opacity: 0;
    animation: flicker .1s infinite; 
    visibility: hidden;
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

