.footer_wrapper {
    position: absolute;
    top: calc(100% - 75px);
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer_profile {
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer_social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer_profile p {
    color: white;
    font-family: "Moon";
    margin-right: none;   
    text-align: right; 
}

.footer_profile img {
    width: 35px;
    padding-left: 10px;
}
  
