#root {
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  height: 100%;
}

.app_content-wrapper {
  display: flex;
}

.app_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.app_header h1 {
  color: white;
  font-family: "Moon";
  font-size: 4vh;
  font-weight: 100;
  float: right;
  margin-right: 2vw;
}

.app_footer {
  position: absolute;
  top: calc(100% - 5vh);;
  left: 0;
  width: 100%;
}

.app_footer p {
  color: white;
  font-family: "Moon";
  float: right;
  margin-right: 2vw;
}

@media only screen and (max-width: 750px) {
  .app_content-wrapper {
    display: none;
  }

  .app_header h1 {
    margin-right: 4vw;
  }
}

@font-face {
  font-family: 'Digital7';
  src: local('Digital7'), url(./assets/fonts/digital-7.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Moon';
  src: local('Moon'), url(./assets/fonts/Moon-Light.otf);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.spacer {
  height: 100px;
}